body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  list-style: none;
  color: black;
}



.EditRecipePage,
.AddRecipe,
.AddIngredient {
  background: #ffdf38;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}



.ingredient-row > div {
  flex: 1;
}





.WeekPlan-day-recipe-empty-wrapper {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px dashed rgba(0, 0, 0, 0.176);
  margin-bottom: 1rem;
}

.WeekPlan-day-recipe-wrapper {
  background-color: #f5d32880;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid #f5d328;
  margin-bottom: 1rem;
}

.WeekPlan-day-recipe-consumed-wrapper {
  background-color: rgba(0, 0, 0, 0.176);
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.cards-row {
  display: flex;
  justify-content: space-evenly;
}

.link-hover {
  transition: all 0.3s ease;
  color: black;
  text-decoration: none;
}

.link-hover:hover {
  color: rgb(255, 223, 56);
  text-shadow: 1px 1px 2px #f5b428;
  transform: translateY(-3px);
}

.navbar-link-hover.active {
  background-color: #8a7e641f;
}
.navbar-link-hover {
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navbar-link-hover:hover {
  color: #ffffff;
  text-shadow: 1px 1px 2px #f5b428;
  transform: translateY(-3px);
}

.HomePage .carousel img {
  height: 40vh;
  object-fit: center;
}

.HomePage {
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}


.HomePage h1 {
  margin: 30px 50px 30px 50px;
}
.HomePage img {
  margin: 30px ;
  width: 600px;
  box-shadow: 0px 2px 3px grey;
}
.HomePage h3 {
  margin: 30px 50px 30px 50px;
}

.AboutPage{
  box-shadow: 0px 2px 3px grey;
  width: 90vw;
  height: 70vh;
  margin: 20px auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  text-align: start;
}
.AboutPage a{
  text-decoration: none;
  color: #f5b428;
}

.AboutPage a:hover{
  text-decoration: underline;
  color: #000000;
}
.AboutPage span{
  color: #f5b428;
  font-weight: bolder;
}
.AboutPage div, p{
  margin: 20px;
}
.AboutPage ul{
  margin: 20px;
}
.AboutPage li{
  width: 40vw;
  text-align: start;
}



